/* common styles */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

.secondary-heading {
  font-size: 3.6rem;
  font-weight: 600;
  color: #403a3a;
  text-transform: capitalize;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fas.fa-chevron-left,
.fas.fa-chevron-right {
  font-size: 1.5rem;
}

/* End of common styles */

/* Trending brands */
#trending-brands {
  position: relative;
  padding: 5rem 0;
}

#trending-brands .secondary-heading {
  margin-bottom: 4rem;
}

/* Slider */
#trending-brands .slide {
  margin: 0 10px;
}

.slide-arrow {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -7.5rem;
  background: #f3f3f3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.prev-arrow {
  right: 5.5rem;
}

.next-arrow {
  right: 1rem;
}

.slide-arrow:hover .fas {
  color: #fff;
}

.slide-arrow:hover {
  background: #fc813c;
}

.slide-text span {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7c7a7a;
  margin-top: 13px;
}

.slide-text h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #2f2f2f;
}

.slide .img-responsive {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/* End of Slider */

/* Media Query */
@media screen and (max-width: 768px) {
  .secondary-heading {
    font-size: 2.4rem;
    text-align: center;
  }

  #trending-brands .secondary-heading {
    margin-bottom: 3rem;
  }

  .slider {
    text-align: center;
  }

  .slide-text span {
    font-size: 1.1rem;
    color: #7c7a7a;
    margin-top: 13px;
  }

  .slide-text h3 {
    font-size: 1.8rem;
    color: #2f2f2f;
  }
}

@media screen and (max-width: 480px) {
  .secondary-heading {
    font-size: 2.2rem;
  }
  .slide .img-responsive {
    width: 90%;
    margin: 0 auto;
  }
}
/* End of Media Query */
/* End of Trending brands */

/* Browse All Categories */

#browse-all-categories .secondary-heading span {
  display: block;
  margin-bottom: 1rem;
}

#browse-all-categories .card {
  width: 300px;
  background: #ffffff;
  box-shadow: 25px 17px 59px 11px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  transition: all 0.3s;
}

#browse-all-categories .card:hover {
  transform: translateY(-0.8rem);
  box-shadow: 25px 17px 59px 11px rgba(0, 0, 0, 0.09);
}

.card .card-text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  padding: 1.5rem;
  text-transform: capitalize;
}

#browse-all-categories a {
  text-decoration: none;
}
#browse-all-categories [class*="col-"] {
  margin-bottom: 4rem;
}

#browse-all-categories .show-all-btn {
  width: 35rem;
  height: 8rem;
  background: #79271a;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s;
}

#browse-all-categories .show-all-btn:active,
#browse-all-categories .show-all-btn:focus {
  box-shadow: none;
}

#browse-all-categories .show-all-btn span {
  margin-left: 8px;
  transition: all 0.3s;
}
#browse-all-categories .show-all-btn:hover {
  background: #682116;
}
#browse-all-categories .show-all-btn:hover span {
  margin-left: 15px;
  transition: margin-left 0.2s;
}

#browse-all-categories .hidden-col {
  display: none;
}

.show-all-btn .left-arrow {
  transform: rotate(180deg);
  margin-left: 8px;
  transition: all 0.3s;
}
.show-all-btn:hover .left-arrow {
  margin-left: -5px;
}

.show-all-btn .less {
  display: none;
}
/* Media query  */

@media screen and (min-width: 1366px) {
  #browse-all-categories .secondary-heading {
    margin: 6rem 0 7rem;
  }
}

@media screen and (max-width: 1366px) {
  #browse-all-categories .secondary-heading {
    margin: 4.5rem 0;
  }

  #browse-all-categories [class*="col-"] {
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
  }

  #browse-all-categories .hidden-col {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  #browse-all-categories .show-all-btn {
    width: 28rem;
    font-size: 2rem;
  }

  .show-all-btn .more img,
  .less img {
    width: 25px;
  }
}

@media screen and (max-width: 580px) {
  #browse-all-categories [class*="col-"] {
    margin: 0.7rem auto;
  }

  .card .card-text {
    font-size: 1.8rem;
    padding: 1.5rem;
  }

  #browse-all-categories .show-all-btn {
    width: 25rem;
    height: 6rem;
    font-size: 1.5rem;
    margin: 3rem 0;
  }

  #browse-all-categories .show-all-btn span {
    margin-left: 5px;
  }

  #browse-all-categories .show-all-btn:hover span {
    margin-left: 5px;
  }

  .show-all-btn:hover .left-arrow {
    margin-left: -5px;
  }
  .show-all-btn:hover .left-arrow {
    margin-left: 0px;
  }
}
/* End of Media query  */
/* End of Browse All Categories */
